<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhoujk.dao.UserMapper">
    <!--id statementId值  resultType返回值类型:VO的全路径名称-->
    <select id="selectUserById" resultType="UserVO" parameterType="int">
        select *
        from user
        where id = #{id}
    </select>
    <!--按照用户名称 模糊查询用户信息-->
    <select id="selectUserListByNameLike" resultType="UserVO" parameterType="String">
        select *
        from user
            /* # 防止sql注入写法*/
        where username like "%"#{userName}"%"
        /* $  字符串拼接写法
        where  username like '%${value}%'
           */
    </select>
    <select id="selectAll" resultType="UserVO">
        select *
        from user
    </select>
    <insert id="insert" parameterType="UserPOJO">
        insert into user(username, password, age, sex, user_hobby, remark)
        values (#{username}, #{password}, #{age}, #{sex}, #{userHobby}, #{remark})
    </insert>
    <insert id="insertBy$" parameterType="UserPOJO">
        insert into user(username, password, age, sex, user_hobby, remark)
        values ('${username}', '${password}', '${age}', '${sex}', '${userHobby}', '${remark}')
    </insert>

    <update id="updateById" parameterType="com.zhoujk.pojo.UserPOJO">
        update user
        set username=#{username},
            password=#{password},
            age=#{age},
            sex=#{sex},
            user_hobby=#{userHobby},
            remark=#{remark}
        where id = #{id}
    </update>
    <delete id="deleteById" parameterType="int">
        delete
        from user
        where id = #{id}
    </delete>
</mapper>